{% doc %}
  @param {object} settings - block settings
  @param {string} children - block children
  @param {string} shopify_attributes - block attributes
  @param {object} [order] - block settings
  @param {string} [marquee_position] - marquee position settings
{% enddoc %}

{% liquid
  assign speed = settings.speed
  assign duration = 6.0
  assign duration = duration | divided_by: speed
  assign angle = settings.angle
  if marquee_position and marquee_position == 'top'
    assign order = order | times: -1
  endif
%}

{%- capture styles -%}
  --angle: {{ angle | abs }}deg;
  --angle-raw: {{ angle }}deg;
  {% if order %}
    --order: {{ order }}
  {% endif %}
{%- endcapture -%}

<marquee-component
  class="marquee{% if settings.show_edge_fade or settings.angle != 0 %} marquee--has-edge{% endif %}{% if settings.show_edge_fade %} marquee--edge-fade{% endif %}{% if settings.angle != 0 %} marquee--rotated{% endif %} relative w-full border-style overflow-hidden spacing-style color-{{ settings.color_scheme }}{% if marquee_position %} marquee--{{ marquee_position }}{% endif %}"
  {% if settings.pause_on_hover %}
    on:pointerenter="/onPause"
    on:pointerleave="/onPlay"
  {% endif %}
  data-direction="{{ settings.direction }}"
  data-duration="{{ duration }}"
  data-parallax="{{ settings.enable_parallax }}"
  style="{% render 'gap-style', settings: settings %}{%- render 'border-style', settings: settings -%}{% render 'spacing-style', settings: settings %}{{ styles }}"
  {{ shopify_attributes }}
>
  <div class="marquee__inner flex items-center" ref="inner">
    <div class="marquee__items flex items-center">
      {{ children }}
    </div>
  </div>
</marquee-component>
