{%- doc -%}
  Renders newsletter form

  @param {string} [design] - Accetps: design-1, design-2
  @param {string} block_id - Unique id that append to form
  @param {string} [button_label] - Submit button label
  @param {string} [button_style] - Submit button style

  @example
  {% render 'newsletter-form', design: 'design-1' %}
{%- enddoc -%}
{%- liquid
  assign default_label = 'blocks.email_signup.label' | t
  assign default_button_label = 'actions.sign_up' | t
  assign button_label = button_label | default: default_button_label
  assign form_id = '-NewsletterForm' | prepend: block_id
  assign button_style = button_style | default: 'btn--primary'
  assign design = design | default: 'design-1'

  assign button_class = 'btn ' | append: button_style
  case design
    when 'design-1'
      assign button_class = button_class | append: ' btn--icon-only btn--small'
  endcase

  unless settings.dialog_color_scheme_inherit
    assign dialog_color_scheme = settings.dialog_color_scheme
  else
    assign first_color_scheme = settings.color_schemes | first
    assign dialog_color_scheme = first_color_scheme
  endunless
-%}

<newsletter-form class="newsletter-form newsletter-form--{{ design }}">
  {%- form 'customer', id: form_id -%}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="newsletter-form__field relative flex flex-col gap-4 md:gap-5">
      <label class="visually-hidden" for="{{ form_id }}__input">
        {{ default_label }}
      </label>
      <input
        ref="input"
        id="{{ form_id }}__input"
        type="email"
        pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
        name="contact[email]"
        class="form-control w-full newsletter-form__input"
        value="{{ form.email }}"
        aria-required="true"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="{{ form_id }}__error"
        {% elsif form.posted_successfully? %}
          aria-describedby="{{ form_id }}__success"
        {% endif %}
        placeholder="{{ 'blocks.email_signup.placeholder' | t }}"
        required
      >
      <button
        type="submit"
        name="commit"
        id="{{ form_id }}__submit"
        class="newsletter-form__button {{ button_class }}"
      >
        <span class="btn__text{% if design == 'design-1' %} visually-hidden{% endif %}">
          {{ button_label }}
        </span>
        {%- if design == 'design-1' -%}
          {% render 'icon', icon: 'caret-right', size: 'custom-size' %}
        {%- endif -%}
      </button>
    </div>
    <dialog-component id="{{ form_id }}__dialog" ref="messageDialog">
      <dialog
        ref="dialog"
        class="dialog dialog--modal color-{{ dialog_color_scheme }}"
        scroll-lock
      >
        <button
          class="dialog__close dialog__close--absolute"
          on:click="#{{ form_id }}__dialog/closeDialog"
          aria-label="{{ 'accessibility.close_dialog' | t }}"
        >
          {% render 'icon', icon: 'close', size: 'large' %}
        </button>
        <div class="dialog__content">
          <p
            ref="messageErrorSubscribed"
            class="alert alert--error w-full flex items-center gap-2 hidden"
            id="{{ form_id }}__error-subscribed"
          >
            {% render 'icon', icon: 'warning' %}
            <span>
              {{- 'blocks.email_signup.already_subscribed' | t -}}
            </span>
          </p>
          {%- if form.errors -%}
            <p
              ref="alert"
              class="alert alert--error w-full flex items-center gap-2"
              id="{{ form_id }}__error"
            >
              {% render 'icon', icon: 'warning' %}
              <span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </p>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <p
              ref="alert"
              class="alert alert--success w-full flex items-center gap-2"
              id="{{ form_id }}__success"
              tabindex="-1"
              autofocus
            >
              {% render 'icon', icon: 'bell-ringing' %}
              <span>{{- 'blocks.email_signup.success' | t }}</span>
            </p>
          {%- endif -%}
        </div>
      </dialog>
    </dialog-component>
  {%- endform -%}
</newsletter-form>
