{% doc %}
  @param {object} product - The product object
  @param {object} settings - The settings object
  @param {string} [unique_id] - Unique identifier for SVG IDs
  @param {string} [alignment_mobile] - The alignment on mobile
  @param {string} [alignment] - The alignment on desktop
  @param {string} [rating_color] - The rating color
  @param {string} [stars_style] - The stars style
  @param {string} [show_number] - Whether to show the number of reviews
  @param {string} [type_preset] - The type preset

  @example
  {% render 'product-review-stars', product: product, settings: settings, unique_id: block.id %}
{% enddoc %}

{% liquid
  assign rating = product.metafields.reviews.rating.value.rating
  assign scale_max = product.metafields.reviews.rating.value.scale_max
  assign rating_count = product.metafields.reviews.rating_count

  if request.visual_preview_mode and product == blank
    assign product = collections.all.products.first
    assign rating = product.metafields.reviews.rating.value | default: 4
    assign scale_max = product.metafields.reviews.rating.value.scale_max | default: 5
    assign rating_count = product.metafields.reviews.rating_count | default: 3
  endif

  assign alignment_mobile = alignment_mobile | default: settings.alignment_mobile
  assign alignment = alignment | default: settings.alignment
  assign rating_color = rating_color | default: settings.rating_color
  assign stars_style = stars_style | default: settings.stars_style
  assign show_number = show_number | default: settings.show_number, allow_false: true
  assign type_preset = type_preset | default: settings.type_preset

  if unique_id == blank
    assign unique_id = 'product-review-stars' | append: '-' | append: product.id
  endif
-%}

{%- if rating != blank -%}
  {% liquid
    assign star_count_rating = scale_max
    assign decimal_rating = 0
    assign decimal = rating | modulo: 1

    if decimal >= 0.3 and decimal <= 0.7
      assign decimal_rating = 0.5
    elsif decimal > 0.7
      assign decimal_rating = 1
    endif

    # this is used so I can tell how many stars I need to fill. When the decimal rating above is 0.5 or 1 I count it as one as the half star is dealt with with a SVG linear gradient.
    assign decimal_rounded = decimal_rating | ceil

    assign svg_filled_stars = rating | floor | plus: decimal_rounded
  %}
  <div
    class="rating-wrapper justify-{{ alignment_mobile }} md:justify-{{ alignment }}"
    style="--star-fill-color: {{ rating_color.rgb }};"
  >
    <div
      class="rating"
      style="--star-size: calc(var(--font-{{ type_preset }}--size) * 1.1);"
      aria-label="{{ 'accessibility.rating' | t: rating: rating }}"
    >
      {% if stars_style == 'single' %}
        <svg
          class="stars {% if svg_filled_stars > 0 %}filled-star{% endif %}"
          viewBox="0 0 14 13"
          style="--empty-star-fill-color: rgb(var(--star-fill-color-rgb) / 20%)"
          role="presentation"
        >
          <path d="M7 0L8.77746 4.55353L13.6574 4.83688L9.87599 7.93447L11.1145 12.6631L7 10.024L2.8855 12.6631L4.12401 7.93447L0.342604 4.83688L5.22254 4.55353L7 0Z"/>
        </svg>
      {% else %}
        {%- for star in (1..star_count_rating) -%}
          <svg
            class="stars {% if star <= svg_filled_stars %}filled-star{% endif %}"
            viewBox="0 0 14 13"
            style="--empty-star-fill-color:{% if stars_style == 'outline' %}transparent{% else %}rgb(var(--star-fill-color-rgb) / 20%){% endif %}"
            role="presentation"
          >
            {% if decimal_rating == 0.5 and star == svg_filled_stars %}
              <g class="half-star">
                <path d="M7 0L8.77746 4.55353L13.6574 4.83688L9.87599 7.93447L11.1145 12.6631L7 10.024L2.8855 12.6631L4.12401 7.93447L0.342604 4.83688L5.22254 4.55353L7 0Z" fill="{% if stars_style == "outline" %}transparent{% else %}rgb(var(--star-fill-color-rgb) / 20%){% endif %}"/>
                <path d="M7 0L8.77746 4.55353L13.6574 4.83688L9.87599 7.93447L11.1145 12.6631L7 10.024L2.8855 12.6631L4.12401 7.93447L0.342604 4.83688L5.22254 4.55353L7 0Z" fill="rgb(var(--star-fill-color))" class="half-star__fill"/>
              </g>
            {% else %}
              <path d="M7 0L8.77746 4.55353L13.6574 4.83688L9.87599 7.93447L11.1145 12.6631L7 10.024L2.8855 12.6631L4.12401 7.93447L0.342604 4.83688L5.22254 4.55353L7 0Z"/>
            {% endif %}
            {% if stars_style == "outline" %}
              <path d="M7 0L8.77746 4.55353L13.6574 4.83688L9.87599 7.93447L11.1145 12.6631L7 10.024L2.8855 12.6631L4.12401 7.93447L0.342604 4.83688L5.22254 4.55353L7 0Z" fill="none" stroke="rgb(var(--star-fill-color))" stroke-width="var(--icon-stroke-width)"/>
            {% endif %}
          </svg>
        {%- endfor -%}
      {% endif %}
    </div>

    {%- if show_number or stars_style == 'single' -%}
      <p class="rating-count color-subtext {{ type_preset }}">
        {%- if stars_style == 'single' -%}
          <span aria-hidden="true">{{- rating | round: 1 }}</span>
        {%- endif -%}
        {%- if stars_style == 'single' and show_number -%}
          <span class="rating-count-separator">|</span>
        {%- endif -%}
        {%- if show_number -%}
          {% if stars_style == 'single' %}
            {{- rating_count }}
            {{ 'content.reviews' | t }}
          {% else %}
            (
            {{- rating_count }})
            <span class="visually-hidden">{{ 'content.reviews' | t }}</span>
          {% endif %}
        {%- endif -%}
      </p>
    {%- endif -%}
  </div>
{%- endif -%}
