{% liquid
  assign preset = block.settings.type_preset
  capture heading_classes
    if preset == 'custom'
      echo ' custom-typography '
      if block.settings.font_size != ''
        echo ' custom-font-size '
      endif
    elsif preset == 'paragraph'
      echo ' rte '
    endif
  endcapture

  assign order_date = order.created_at | time_tag: format: 'date_at_time'
%}
{%- capture heading_styles -%}
  {% render 'typography-style', settings: block.settings %}
{%- endcapture -%}

<div class="customer__content order-info" {{ block.shopify_attributes }}>
  <div class="order-info__header">
    <h2
      class="{{ preset }} {{ heading_classes }}"
      style="{{ heading_styles | strip | strip_newlines }}"
    >
      {{ 'customer.order.information' | t }}
    </h2>
    <p class="order-info__paragraph color-subtext">
      {{ 'customer.order.date_html' | t: date: order_date }}
    </p>
    {%- if order.cancelled -%}
      {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
      <p class="order-info__paragraph">
        {{ 'customer.order.cancelled_html' | t: date: cancelled_at }}
      </p>
      <p class="order-info__paragraph">
        {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}
      </p>
    {%- endif -%}
  </div>

  <div class="table-container table-container--mobile-scrollable">
    <table class="table order-details relative">
      <caption class="visually-hidden">
        {{ 'customer.order.title' | t: name: order.name }}
      </caption>
      <thead>
        <tr>
          <th id="ColumnProduct" scope="col" colspan="2">
            {{ 'customer.order.product' | t }}
          </th>
          <th id="ColumnSku" scope="col" colspan="2">
            {{ 'customer.order.sku' | t }}
          </th>
          <th id="ColumnPrice" scope="col" colspan="1">
            {{ 'customer.order.price' | t }}
          </th>
          <th id="ColumnQuantity" scope="col" colspan="1">
            {{ 'customer.order.quantity' | t }}
          </th>
          <th id="ColumnTotal" scope="col" colspan="1">
            {{ 'customer.order.total' | t }}
          </th>
        </tr>
      </thead>
      <tbody>
        {%- for line_item in order.line_items -%}
          <tr>
            <td
              id="Row{{ line_item.key }}"
              headers="ColumnProduct"
              scope="row"
              data-label="{{ 'customer.order.product' | t }}"
              colspan="2"
            >
              <div>
                {%- if line_item.url != blank -%}
                  <a href="{{ line_item.url }}" class="reversed-link inline-flex">
                    <span cass="reversed-link__text">{{- line_item.title -}}</span>
                  </a>
                {%- else -%}
                  <p class="m-0">{{ line_item.title }}</p>
                {%- endif -%}
                {%- assign property_size = line_item.properties | size -%}
                {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
                  <div class="properties">
                    {%- unless line_item.product.has_only_default_variant -%}
                      <span>
                        {{ line_item.variant.title }}
                      </span>
                    {%- endunless -%}
                    {%- unless line_item.selling_plan_allocation == null -%}
                      <span>
                        {{ line_item.selling_plan_allocation.selling_plan.name }}
                      </span>
                    {%- endunless -%}
                    {%- if property_size != 0 -%}
                      {%- for property in line_item.properties -%}
                        {% assign property_first_char = property.first | slice: 0 %}
                        {%- if property.last != blank and property_first_char != '_' -%}
                          <span>{{ property.first }}:</span>
                          <span>
                            {%- if property.last contains '/uploads/' -%}
                              <a href="{{ property.last }}">
                                {{- property.last | split: '/' | last -}}
                              </a>
                            {%- else -%}
                              {{ property.last }}
                            {%- endif -%}
                          </span>
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                {%- endunless -%}

                {%- if line_item.line_level_discount_allocations != blank -%}
                  <ul
                    class="list-unstyled"
                    aria-label="{{ 'customer.order.discount' | t }}"
                  >
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                      <li class="flex items-center gap-x-1">
                        {% render 'icon', icon: 'discount', class: 'shrink-0' %}
                        <span>
                          {{- discount_allocation.discount_application.title }} (-
                          {{- discount_allocation.amount | money -}}
                          )</span
                        >
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

                {%- if line_item.fulfillment -%}
                  <div class="fulfillment">
                    {%- assign created_at = line_item.fulfillment.created_at
                      | time_tag: format: 'date'
                    -%}
                    <span>
                      {{- 'customer.order.fulfilled_at_html' | t: date: created_at -}}
                    </span>

                    {%- if line_item.fulfillment.tracking_url -%}
                      <a href="{{ line_item.fulfillment.tracking_url }}">
                        {{ 'customer.order.track_shipment' | t }}
                      </a>
                    {%- endif -%}
                    <span>
                      {{ line_item.fulfillment.tracking_company }}
                      {%- if line_item.fulfillment.tracking_number -%}
                        #{{ line_item.fulfillment.tracking_number }}
                      {%- endif -%}
                    </span>
                  </div>
                {%- endif -%}
              </div>
            </td>
            <td
              headers="Row{{ line_item.key }} ColumnSku"
              data-label="{{ 'customer.order.sku' | t }}"
              colspan="2"
            >
              {{ line_item.sku }}
            </td>
            <td
              headers="Row{{ line_item.key }} ColumnPrice"
              data-label="{{ 'customer.order.price' | t }}"
              colspan="1"
            >
              {%- if line_item.original_price != line_item.final_price
                or line_item.unit_price_measurement
              -%}
                <dl>
                  {%- if line_item.original_price != line_item.final_price -%}
                    <dt>
                      <span class="visually-hidden">
                        {{ 'content.price_regular' | t }}
                      </span>
                    </dt>
                    <dd class="regular-price m-0">
                      <s>{{ line_item.original_price | money }}</s>
                    </dd>
                    <dt>
                      <span class="visually-hidden">
                        {{ 'content.price_sale' | t }}
                      </span>
                    </dt>
                    <dd class="m-0">
                      <span>{{ line_item.final_price | money }}</span>
                    </dd>
                  {%- else -%}
                    <dt>
                      <span class="visually-hidden">
                        {{ 'content.price_regular' | t }}
                      </span>
                    </dt>
                    <dd class="m-0">
                      {{ line_item.original_price | money }}
                    </dd>
                  {%- endif -%}
                  {%- if line_item.unit_price_measurement -%}
                    <dt>
                      <span class="visually-hidden">
                        {{ 'accessibility.unit_price' | t }}
                      </span>
                    </dt>
                    <dd class="unit-price m-0">
                      <span>
                        {%- capture unit_price_separator -%}
                        <span aria-hidden="true">/</span
                        ><span class="visually-hidden">/</span>
                      {%- endcapture -%}
                        {%- capture unit_price_base_unit -%}
                        {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                          {{- line_item.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ line_item.unit_price_measurement.reference_unit }}
                      {%- endcapture -%}
                        <span data-unit-price>{{ line_item.unit_price | money }}</span>
                        {{- unit_price_separator -}}
                        {{- unit_price_base_unit -}}
                      </span>
                    </dd>
                  {%- endif -%}
                </dl>
              {%- else -%}
                <span>{{ line_item.final_price | money }}</span>
              {%- endif -%}
            </td>
            <td
              headers="Row{{ line_item.key }} ColumnQuantity"

              data-label="{{ 'customer.order.quantity' | t }}"
              colspan="1"
            >
              {{ line_item.quantity }}
            </td>
            <td
              headers="Row{{ line_item.key }} ColumnTotal"

              data-label="{{ 'customer.order.total' | t }}"
              colspan="1"
            >
              {%- if line_item.original_line_price != line_item.final_line_price -%}
                <dl>
                  <dt>
                    <span class="visually-hidden">
                      {{ 'content.price_regular' | t }}
                    </span>
                  </dt>
                  <dd class="regular-price m-0">
                    <s>{{ line_item.original_line_price | money }}</s>
                  </dd>
                  <dt>
                    <span class="visually-hidden">
                      {{ 'content.price_sale' | t }}
                    </span>
                  </dt>
                  <dd class="m-0">
                    <span>{{ line_item.final_line_price | money }}</span>
                  </dd>
                </dl>
              {%- else -%}
                {{ line_item.original_line_price | money }}
              {%- endif -%}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>

  <ul class="order-total-amount md:text-right list-unstyled">
    <li>
      <span>{{ 'customer.order.subtotal' | t }}:</span>
      {{ order.line_items_subtotal_price | money }}
    </li>

    {%- if order.cart_level_discount_applications != blank -%}
      {%- for discount_application in order.cart_level_discount_applications -%}
        <li>
          <span>
            {{ 'customer.order.discount' | t }}
            <span class="cart-discount">
              {% render 'icon', icon: 'discount', class: 'shrink-0' %}
              {{- discount_application.title -}}</span
            >:
          </span>
          <div>
            <span>-{{ discount_application.total_allocated_amount | money }}</span>
            <span class="cart-discount">
              {% render 'icon', icon: 'discount', class: 'shrink-0' %}
              {{- discount_application.title -}}
            </span>
          </div>
        </li>
      {%- endfor -%}
    {% endif %}

    {%- for shipping_method in order.shipping_methods -%}
      <li>
        <span>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }}):</span>
        {{ shipping_method.price | money }}
      </li>
    {%- endfor -%}

    {%- for tax_line in order.tax_lines -%}
      <li>
        <span>
          {{ 'customer.order.tax' | t }} ({{ tax_line.title }}
          {{ tax_line.rate | times: 100 }}%):
        </span>
        {{ tax_line.price | money }}
      </li>
    {%- endfor -%}
    {%- if order.total_duties -%}
      <li>
        <span>{{ 'customer.order.total_duties' | t }}:</span>
        {{ order.total_duties | money }}
      </li>
    {%- endif -%}
    {%- if order.total_refunded_amount > 0 -%}
      <li>
        <span>{{ 'customer.order.total_refunded' | t }}:</span>
        -{{ order.total_refunded_amount | money_with_currency }}
      </li>
    {%- endif -%}
    <li class="h4">
      <span>{{ 'customer.order.total' | t }}:</span>
      {{ order.total_net_amount | money_with_currency }}
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "t:names.order_info",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.heading_size",
      "options": [
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "id": "font_weight",
      "type": "select",
      "label": "t:settings.font_weight",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "t:options.inherit"
        },
        {
          "value": "300",
          "label": "t:options.light"
        },
        {
          "value": "400",
          "label": "t:options.regular"
        },
        {
          "value": "500",
          "label": "t:options.medium"
        },
        {
          "value": "600",
          "label": "t:options.semi_bold"
        },
        {
          "value": "700",
          "label": "t:options.bold"
        },
        {
          "value": "800",
          "label": "t:options.extra_bold"
        },
        {
          "value": "900",
          "label": "t:options.black"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:settings.font_size",
      "default": 15,
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "t:settings.font_size_mobile",
      "default": 15,
      "min": 12,
      "max": 60,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    }
  ]
}
{% endschema %}
