{% liquid
  assign block_index = section.blocks | find_index: 'id', block.id
  assign section_index = section.index

  assign loading = 'lazy'
  if block_index == 0 and section_index <= 3
    assign loading = 'eager'
  endif

  assign fetchpriority = 'low'
  if block_index == 0 and section_index == 1
    assign fetchpriority = 'high'
  endif

  assign image_desktop = block.settings.image
  assign image_mobile = block.settings.image_mobile
  assign aspect_ratio = image_desktop.aspect_ratio | default: '16/9'
  assign aspect_ratio_mobile = image_mobile.aspect_ratio | default: aspect_ratio

  assign slide_height = section.settings.slide_height
  assign section_container = section.settings.container
  assign content_position = section.settings.content_position
%}

{% capture style %}
  --ratio: {{ aspect_ratio }};
  --ratio-mobile: {{ aspect_ratio_mobile }};
{% endcapture %}

<div
  class="swiper-slide"
  ref="slides[]"
  data-color-scheme="color-{{ block.settings.color_scheme }}"
  {{ block.shopify_attributes }}
>
  <div class="slide{% if section_container == 'full' and content_position == 'inside' %} section-grid{% else %} grid{% endif %}">
    {% if section.settings.control_type == 'progress-text' and block.settings.pagination_label != blank %}
      <span
        data-pagination-text="{{ block.settings.pagination_label }}"
        data-slide-id="slide-{{ block_index }}"
        class="visually-hidden"
      >
        {{- block.settings.pagination_label -}}
      </span>
    {% endif %}
    <div class="slide__media relative row-span-full col-span-full overflow-hidden">
      {%- if image_desktop == blank -%}
        {%- if settings.animations_enabled -%}
          <motion-component
            data-motion="zoom-out"
            class="slide__media-placeholder h-full{% if image_mobile != blank %} hidden md:block{% else %} block{% endif %}"
          >
        {%- else -%}
          <div
            class="slide__media-placeholder h-full{% if image_mobile != blank %} hidden md:block{% else %} block{% endif %}"
          >
        {%- endif -%}
        <div
          class="media w-full h-full overflow-hidden"
          {% if slide_height == 'adapt' %}
            style="{{ style }}"
          {% endif %}
        >
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder w-full h-full' }}
        </div>
        {%- if settings.animations_enabled -%}
          </motion-component>
        {%- else -%}
          </div>
        {%- endif -%}
      {%- endif -%}
      {%- if image_desktop != blank or image_mobile != blank -%}
        {%- liquid
          assign widths = '480, 535, 640, 750, 767, 828, 960, 1024, 1280, 1440, 1680, 1920, 2560, 3840'
          assign width_values = widths | split: ','
        -%}

        {%- capture sizes -%}
          {%- if section_container == 'full' -%}100vw{%- else -%}min({{ settings.page_width }}, 100vw){%- endif -%}
        {%- endcapture -%}

        {% capture mobile_srcset %}
          {%- if image_mobile != blank -%}
            {%- for w in width_values -%}
              {%- assign w_int = w | strip -%}
              {{ image_mobile | image_url: width: w_int }} {{ w_int }}w{%- unless forloop.last -%}, {%- endunless -%}
            {%- endfor -%}
          {%- endif -%}
        {% endcapture %}

        {%- if settings.animations_enabled -%}
          <motion-component
            class="w-full h-full block{% if image_desktop == blank %} md:hidden{% endif %}"
            data-motion="zoom-out"
            data-motion-hold
          >
        {%- else -%}
          <div
            class="w-full h-full block{% if image_desktop == blank %} md:hidden{% endif %}"
          >
        {%- endif -%}
        <picture
          class="media w-full h-full overflow-hidden"
          {% if slide_height == 'adapt' %}
            style="{{ style }}"
          {% endif %}
        >
          {%- if image_desktop != blank and image_mobile != blank -%}
            <source
              media="(max-width: 767px)"
              srcset="{{ mobile_srcset | strip | strip_newlines }}"
              width="{{ image_mobile.width }}"
              height="{{ image_mobile.height }}"
              sizes="{{ sizes }}"
            >
          {%- endif -%}
          {%- liquid
            if image_desktop == blank
              assign image_desktop = image_mobile
            endif

            assign image_desktop_height = image_desktop.width | divided_by: image_desktop.aspect_ratio | ceil
            assign image_desktop_alt = image_desktop.alt | default: shop.name | escape
          -%}
          {{-
            image_desktop
            | image_url: width: image_desktop.width
            | image_tag:
              loading: loading,
              width: image_desktop.width,
              height: image_desktop_height,
              alt: image_desktop_alt,
              fetchpriority: fetchpriority,
              class: 'media__image',
              sizes: sizes,
              widths: widths
          -}}
        </picture>
        {%- if settings.animations_enabled -%}
          </motion-component>
        {%- else -%}
          </div>
        {%- endif -%}
      {%- endif -%}
      {%- if block.settings.toggle_overlay -%}
        {% render 'overlay', overlay_color: block.settings.overlay_color %}
      {%- endif -%}
    </div>
    {% liquid
      assign position_mobile = block.settings.position_mobile | append: '-center'
    %}
    <div
      class="slide__content relative col-span-full content-overlay-style"
      style="{% render 'content-overlay-style', position: block.settings.position, position_mobile: position_mobile %}"
    >
      {%- content_for 'block', type: '_slide-content', id: 'static-slide-content', parent_color_scheme: block.settings.color_scheme -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:names.image_slide",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.media"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:settings.image_mobile"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.media_overlay",
      "default": false
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000033",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "header",
      "content": "t:content.content"
    },
    {
      "type": "select",
      "id": "position",
      "label": "t:settings.position",
      "options": [
        {
          "label": "t:options.top_left",
          "value": "top-left"
        },
        {
          "label": "t:options.top_center",
          "value": "top-center"
        },
        {
          "label": "t:options.top_right",
          "value": "top-right"
        },
        {
          "label": "t:options.middle_left",
          "value": "middle-left"
        },
        {
          "label": "t:options.middle_center",
          "value": "middle-center"
        },
        {
          "label": "t:options.middle_right",
          "value": "middle-right"
        },
        {
          "label": "t:options.bottom_left",
          "value": "bottom-left"
        },
        {
          "label": "t:options.bottom_center",
          "value": "bottom-center"
        },
        {
          "label": "t:options.bottom_right",
          "value": "bottom-right"
        }
      ],
      "default": "middle-left"
    },
    {
      "type": "select",
      "id": "position_mobile",
      "label": "t:settings.position_mobile",
      "options": [
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "middle",
          "label": "t:options.middle"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.pagination_label",
      "visible_if": "{{ section.settings.control_type == 'progress-text' }}"
    },
    {
      "type": "text",
      "id": "pagination_label",
      "label": "t:settings.text",
      "visible_if": "{{ section.settings.control_type == 'progress-text' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.image_slide",
      "blocks": {
        "static-slide-content": {
          "type": "_slide-content",
          "static": true,
          "settings": {
            "horizontal_alignment_flex_direction_column": "flex-start",
            "width": "custom",
            "custom_width": 27,
            "inherit_color_scheme": true,
            "enable_transparent": true
          },
          "blocks": {
            "heading": {
              "type": "text",
              "settings": {
                "text": "<h2>Image slide</h2>",
                "type_preset": "custom",
                "font": "var(--font-heading--family)",
                "font_size": 68,
                "font_size_mobile": 38,
                "line_height": "normal",
                "animation_type": "fade-up",
                "animation_delay": 100
              }
            },
            "spacer_1": {
              "type": "_spacer",
              "settings": {
                "gap": 16,
                "gap_mobile": 16
              }
            },
            "text": {
              "type": "text",
              "settings": {
                "text": "<p>Introducing our latest products, made especially for the season. Shop your favorites before they're gone!</p>",
                "type_preset": "custom",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "loose",
                "animation_type": "fade-up",
                "animation_delay": 200
              }
            },
            "spacer_2": {
              "type": "_spacer",
              "settings": {
                "gap": 32,
                "gap_mobile": 24
              }
            },
            "button": {
              "type": "button",
              "settings": {
                "label": "Button label",
                "link": "shopify://collections/all",
                "style": "primary",
                "icon": "caret-right",
                "icon_style": "solid",
                "animation_type": "fade-up",
                "animation_delay": 300
              }
            }
          },
          "block_order": ["heading", "spacer_1", "text", "spacer_2", "button"]
        }
      },
      "block_order": []
    }
  ]
}
{% endschema %}
