{%- liquid
  assign block_index = section.blocks | find_index: 'id', block.id

  assign tab_title = block.settings.text | default: 'Tab title'
-%}
{%- capture panel_id -%}{{ section.id }}-panel-{{ block_index }}{%- endcapture -%}
<!-- @tabs/split -->
<a
  href="#{{ panel_id }}"
  aria-controls="{{ panel_id }}"
  ref="tab[]"
  on:click="/onTabClick"
  on:keydown="/onKeydown"
  role="tab"
  class="tabs__button inline-flex items-center justify-center relative rounded"
  data-index="{{ block_index }}"
>
  <span class="tabs__button-text relative text-ellipsis">{{ tab_title }}</span>
</a>
<!-- @tabs/split -->
<div
  id="{{ panel_id }}"
  ref="panel[]"
  class="tabs__panel"
  {% if block_index != 0 %}
    hidden
  {% endif %}
  data-index="{{ block_index }}"
  {{ block.shopify_attributes }}
>
  <noscript>
    <h3 class="tabs__panel-heading h3">{{ tab_title }}</h3>
  </noscript>
  {% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "t:names.tab",
  "tag": null,
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "group"
    },
    {
      "type": "accordion"
    },
    {
      "type": "icon"
    },
    {
      "type": "image"
    },
    {
      "type": "video"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:settings.text",
      "default": "Tab title"
    }
  ],
  "presets": [
    {
      "name": "t:names.tab"
    }
  ]
}
{% endschema %}
