{%- liquid
  assign style = block.settings.style
  assign wrap_class = 'coundown-timer-iwt coundown-timer-iwt--' | append: style

  if style == 'card'
    assign wrap_class = wrap_class | append: ' border-style'

    unless block.settings.inherit_color_scheme
      assign wrap_class = wrap_class | append: ' color-' | append: block.settings.color_scheme
    endunless
  endif
-%}
{%- capture wrap_style -%}
  {% render 'size-style', settings: block.settings %}
  {% render 'border-style', settings: block.settings %}
{%- endcapture -%}
<div
  class="flex flex-wrap justify-between gap-3 size-style {{ wrap_class }}"
  style="{{ wrap_style | strip | strip_newlines }}"
  {{ block.shopify_attributes }}
>
  <div class="flex items-center gap-2">
    <div class="coundown-timer-iwt__icon flex shrink-0">
      {% render 'icon-or-image',
        icon: block.settings.icon,
        image_upload: block.settings.icon_image_upload,
        icon_size: block.settings.icon_size,
        width: block.settings.icon_width,
        width_mobile: block.settings.icon_width_mobile,
        class_name: ''
      %}
    </div>
    {%- if block.settings.heading != blank -%}
      {% render 'text', fallback_text: block.settings.heading, preset: block.settings.heading_preset, width: '100%' %}
    {%- endif -%}
  </div>
  {% content_for 'block', id: 'countdown-timer', type: 'countdown-timer' %}
</div>
{% schema %}
{
  "name": "t:names.countdown_timer",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        }
      ],
      "default": "fill"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        }
      ],
      "default": "fill"
    },
    {
      "type": "header",
      "content": "t:content.icon"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "caret-left",
          "label": "t:options.caret_left"
        },
        {
          "value": "caret-right",
          "label": "t:options.caret_right"
        },
        {
          "value": "caret-down",
          "label": "t:options.caret_down"
        },
        {
          "value": "arrow-up-left",
          "label": "t:options.arrow_up_left"
        },
        {
          "value": "arrow-up-left-down",
          "label": "t:options.arrow_up_left_down"
        },
        {
          "value": "close",
          "label": "t:options.close"
        },
        {
          "value": "plus",
          "label": "t:options.plus"
        },
        {
          "value": "minus",
          "label": "t:options.minus"
        },
        {
          "value": "check",
          "label": "t:options.check"
        },
        {
          "value": "cart",
          "label": "t:options.cart"
        },
        {
          "value": "basket",
          "label": "t:options.basket"
        },
        {
          "value": "shopping-bag",
          "label": "t:options.shopping_bag"
        },
        {
          "value": "heart-beat",
          "label": "t:options.heart_beat"
        },
        {
          "value": "baby-carriage",
          "label": "t:options.baby_carriage"
        },
        {
          "value": "account",
          "label": "t:options.account"
        },
        {
          "value": "search",
          "label": "t:options.search"
        },
        {
          "value": "tag",
          "label": "t:options.tag"
        },
        {
          "value": "chat-teardrop",
          "label": "t:options.chat_teardrop"
        },
        {
          "value": "credit-card",
          "label": "t:options.credit_card"
        },
        {
          "value": "barcode",
          "label": "t:options.barcode"
        },
        {
          "value": "storefront",
          "label": "t:options.storefront"
        },
        {
          "value": "package",
          "label": "t:options.package"
        },
        {
          "value": "magic-wand",
          "label": "t:options.magic_wand"
        },
        {
          "value": "funnel",
          "label": "t:options.funnel"
        },
        {
          "value": "phone",
          "label": "t:options.phone"
        },
        {
          "value": "map-pin",
          "label": "t:options.map_pin"
        },
        {
          "value": "clock",
          "label": "t:options.clock"
        },
        {
          "value": "lightning",
          "label": "t:options.lightning"
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "gift",
          "label": "t:options.gift"
        },
        {
          "value": "globe",
          "label": "t:options.globe"
        },
        {
          "value": "car-simple",
          "label": "t:options.car_simple"
        },
        {
          "value": "truck",
          "label": "t:options.truck"
        },
        {
          "value": "paper-plane",
          "label": "t:options.paper_plane"
        },
        {
          "value": "waves",
          "label": "t:options.waves"
        },
        {
          "value": "calendar-blank",
          "label": "t:options.calendar_blank"
        },
        {
          "value": "umbrella",
          "label": "t:options.umbrella"
        },
        {
          "value": "circle-half",
          "label": "t:options.circle_half"
        },
        {
          "value": "bell-ringing",
          "label": "t:options.bell_ringing"
        },
        {
          "value": "tiktok",
          "label": "t:options.tiktok"
        },
        {
          "value": "instagram",
          "label": "t:options.instagram"
        },
        {
          "value": "pinterest",
          "label": "t:options.pinterest"
        },
        {
          "value": "x",
          "label": "t:options.x"
        },
        {
          "value": "facebook",
          "label": "t:options.facebook"
        },
        {
          "value": "telegram",
          "label": "t:options.telegram"
        },
        {
          "value": "whatsapp",
          "label": "t:options.whatsapp"
        },
        {
          "value": "email",
          "label": "t:options.email"
        },
        {
          "value": "linkedin",
          "label": "t:options.linkedin"
        },
        {
          "value": "snapchat",
          "label": "t:options.snapchat"
        },
        {
          "value": "tumblr",
          "label": "t:options.tumblr"
        },
        {
          "value": "threads",
          "label": "t:options.threads"
        }
      ],
      "default": "clock"
    },
    {
      "type": "image_picker",
      "id": "icon_image_upload",
      "label": "t:settings.image_icon"
    },
    {
      "type": "select",
      "id": "icon_size",
      "label": "t:settings.icon_size",
      "options": [
        {
          "value": "extra-small",
          "label": "t:options.extra_small"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "extra-large",
          "label": "t:options.extra_large"
        },
        {
          "value": "custom-size",
          "label": "t:options.custom"
        }
      ],
      "default": "large"
    },
    {
      "type": "range",
      "id": "icon_width",
      "label": "t:settings.width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.icon_size == 'custom-size' }}"
    },
    {
      "type": "range",
      "id": "icon_width_mobile",
      "label": "t:settings.width_mobile",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.icon_size == 'custom-size' }}"
    },
    {
      "type": "header",
      "content": "t:content.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.heading",
      "default": "Hurry Up ! Sale end in"
    },
    {
      "type": "select",
      "id": "heading_preset",
      "label": "t:settings.heading_preset",
      "options": [
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:settings.style",
      "options": [
        {
          "value": "standard",
          "label": "t:options.standard"
        },
        {
          "value": "card",
          "label": "t:options.card"
        }
      ],
      "default": "card"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true,
      "visible_if": "{{ block.settings.style == 'card' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-2",
      "visible_if": "{{ block.settings.style == 'card' and block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.style == 'card' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 3,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ block.settings.style == 'card' and block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 10,
      "visible_if": "{{ block.settings.style == 'card' and block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ block.settings.style == 'card' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.countdown_timer_iwt",
      "category": "t:categories.basic",
      "settings": {
        "width": "fill",
        "width_mobile": "fill",
        "icon": "clock",
        "icon_size": "custom-size",
        "icon_width": 20,
        "icon_width_mobile": 16,
        "heading": "Hurry Up ! Sale end in",
        "heading_preset": "paragraph",
        "style": "card",
        "inherit_color_scheme": false,
        "color_scheme": "scheme-2",
        "border": "none",
        "border_width": 1,
        "border_opacity": 10,
        "border_radius": 6
      },
      "blocks": {
        "countdown-timer": {
          "type": "countdown-timer",
          "static": true,
          "settings": {
            "type": "evergreen",
            "duration": "every_month",
            "time": "2026/08/20 03:45 PM",
            "show_text": false,
            "style": "standard",
            "number_preset": "h4",
            "number_font_size": 68,
            "number_font_size_mobile": 38,
            "inherit_color_scheme": true,
            "number_color": "#db4834",
            "number_background_color": "#fbedeb"
          },
          "blocks": {}
        }
      },
      "block_order": []
    }
  ]
}
{% endschema %}
