{% render 'text', block: block %}
{% schema %}
{
  "name": "t:names.text",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "text_transform",
      "label": "Text Transform",
      "options": [
        {
          "value": "none",
          "label": "Normal"
        },
        {
          "value": "uppercase",
          "label": "UPPERCASE"
        },
        {
          "value": "lowercase",
          "label": "lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "text_alignment",
      "id": "custom_text_alignment",
      "label": "Text Alignment",
      "default": "left"
    },
    {
      "type": "header",
      "content": "Custom Colors & Font Weight"
    },
    {
      "type": "color",
      "id": "custom_text_color",
      "label": "Custom Text Color",
      "default": "#000000",
      "info": "Select a color for your text"
    },
    {
      "type": "select",
      "id": "custom_font_weight",
      "label": "Custom Font Weight",
      "options": [
        {
          "value": "",
          "label": "Inherit"
        },
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra Light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Regular (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi Bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra Bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": ""
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.text",
      "default": "t:html_defaults.share_information_about_your",
      "info": "t:info.highlight_style"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:settings.highlight_style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "standard",
          "label": "t:options.standard"
        },
        {
          "value": "wavy-underline",
          "label": "t:options.wavy_underline"
        },
        {
          "value": "solid-background",
          "label": "t:options.solid_background"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:settings.highlight_font_style",
      "options": [
        {
          "value": "italic",
          "label": "t:options.italic"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        }
      ],
      "default": "italic",
      "visible_if": "{{ block.settings.highlight_style != 'none' }}"
    },
    {
      "type": "color",
      "id": "highlight_shape_color",
      "label": "t:settings.highlight_shape_color",
      "visible_if": "{{ block.settings.highlight_style != 'none' and block.settings.highlight_style != 'standard' }}"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:settings.highlight_text_color",
      "visible_if": "{{ block.settings.highlight_style != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "text-subheading",
          "label": "t:options.subheading"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "rte"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "id": "font_weight",
      "type": "select",
      "label": "t:settings.font_weight",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "t:options.inherit"
        },
        {
          "value": "300",
          "label": "t:options.light"
        },
        {
          "value": "400",
          "label": "t:options.regular"
        },
        {
          "value": "500",
          "label": "t:options.medium"
        },
        {
          "value": "600",
          "label": "t:options.semi_bold"
        },
        {
          "value": "700",
          "label": "t:options.bold"
        },
        {
          "value": "800",
          "label": "t:options.extra_bold"
        },
        {
          "value": "900",
          "label": "t:options.black"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:settings.font_size",
      "default": 15,
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "t:settings.font_size_mobile",
      "default": 15,
      "min": 12,
      "max": 60,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "text",
          "label": "t:options.text"
        },
        {
          "value": "subtext",
          "label": "t:options.subtext"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        },
        {
          "value": "custom",
          "label": "Custom Color (set above)"
        }
      ],
      "default": "text"
    },
    {
      "type": "color_background",
      "id": "text_color_gradient",
      "label": "t:settings.gradient_color",
      "visible_if": "{{ block.settings.text_color == 'gradient' }}"
    },
    {
      "type": "checkbox",
      "id": "disable_line_break_mobile",
      "label": "t:settings.disable_line_break_mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:settings.text_alignment",
      "default": "left",
      "visible_if": "{{ block.settings.width == '100%' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "label": "t:settings.text_alignment_mobile",
      "default": "left",
      "visible_if": "{{ block.settings.width_mobile == '100%' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-padding-scale",
      "label": "t:settings.mobile_scale",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:content.animation",
      "visible_if": "{{ settings.animations_enabled == true }}"
    },
    {
      "type": "select",
      "id": "animation_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "fade-in",
          "label": "t:options.fade_in"
        },
        {
          "value": "fade-up",
          "label": "t:options.fade_up"
        },
        {
          "value": "slide-in-left",
          "label": "t:options.slide_in_left"
        },
        {
          "value": "slide-in-right",
          "label": "t:options.slide_in_right"
        }
      ],
      "default": "none",
      "visible_if": "{{ settings.animations_enabled == true }}"
    },
    {
      "type": "range",
      "id": "animation_delay",
      "label": "t:settings.delay",
      "min": 0,
      "max": 2000,
      "step": 50,
      "default": 250,
      "visible_if": "{{ block.settings.animation_type != 'none' and settings.animations_enabled == true }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.text",
      "category": "t:categories.basic"
    },
    {
      "name": "t:names.heading",
      "category": "t:categories.basic",
      "settings": {
        "text": "<p>Talking about your brand</p>",
        "type_preset": "h2"
      }
    },
    {
      "name": "t:names.subheading",
      "category": "t:categories.basic",
      "settings": {
        "text": "<p>Add a tagline</p>",
        "type_preset": "text-subheading"
      }
    }
  ]
}
{% endschema %}
