{%- liquid
  capture section_header
    content_for 'block', type: '_section-header-vertical', id: 'section-header-vertical'
  endcapture

  capture blocks
    content_for 'blocks'
  endcapture

  assign parts = blocks | strip | split: '<!-- @comparisonGallery/split -->'
  assign images_html = ''
  assign product_thumbnails_html = ''
  assign product_infos_html = ''

  for item in parts
    assign mod = forloop.index0 | modulo: 3
    if mod == 0
      assign images_html = images_html | append: item
    elsif mod == 1
      assign product_thumbnails_html = product_thumbnails_html | append: item
    else
      assign product_infos_html = product_infos_html | append: item
    endif
  endfor

  assign column_gap_mobile = 12
  if section.blocks.size < 5
    assign column_gap_mobile = 24
  endif
-%}
{%- capture section_style -%}
  {% render 'border-style', settings: section.settings %} 
  {% render 'spacing-style', settings: section.settings %}
  {% render 'clamp-calculate-style', property_name: 'content-padding-x', min_value: 30, max_value: 100 %}
{%- endcapture -%}
<div
  class="comparison-gallery-section border-style spacing-style color-{{ section.settings.color_scheme }}"
  style="{{ section_style }}"
>
  <comparison-gallery
    class="page-width flex flex-col md:flex-row items-center comparison-gallery"
    data-section-id="{{ section.id }}"
  >
    <div
      ref="imagesWrap"
      class="comparison-gallery__images w-full"
    >
      <div class="comparison-gallery__images-wrap relative">
        {{ images_html }}
      </div>
    </div>
    <div class="comparison-gallery__content flex flex-col w-full">
      {{ section_header }}
      <div class="comparison-gallery__product-thumbnails flex">
        <div is="swipe-component" class="edge__shadows w-full">
          <div
            class="swipe__element swipe-all swipe-all--auto-cols"
            style="{% render 'gap-style', column_gap: 12, column_gap_mobile: column_gap_mobile %}"
          >
            <div class="swipe__inner">{{ product_thumbnails_html }}</div>
          </div>
        </div>
      </div>
      <div
        ref="infosWrap"
        class="comparison-gallery__product-infos relative"
      >
        {{ product_infos_html }}
      </div>
    </div>
  </comparison-gallery>
</div>
{% schema %}
{
  "name": "t:names.comparison_gallery",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "_comparison-gallery-item"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.comparison_gallery",
      "category": "t:categories.basic",
      "blocks": {
        "section-header-vertical": {
          "type": "_section-header-vertical",
          "static": true,
          "settings": {
            "horizontal_alignment_flex_direction_column": "flex-start",
            "device": "desktop",
            "padding-block-end": 24,
            "padding-block-end-mobile": 20
          },
          "blocks": {
            "subheading": {
              "type": "text",
              "name": "t:names.subheading",
              "settings": {
                "text": "<p>Before & After</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "text-subheading",
                "font": "var(--font-body--family)",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "width": "100%",
                "text_alignment": "left",
                "width_mobile": "100%",
                "text_alignment_mobile": "left",
                "padding-block-start": 0,
                "padding-block-end": 20,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              }
            },
            "heading": {
              "type": "text",
              "name": "t:names.heading",
              "settings": {
                "text": "<p>Gallery comparison</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "h1",
                "font": "var(--font-heading--family)",
                "font_size": 68,
                "font_size_mobile": 38,
                "line_height": "loose",
                "text_color": "text",
                "width": "100%",
                "text_alignment": "left",
                "width_mobile": "100%",
                "text_alignment_mobile": "left",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              }
            }
          },
          "block_order": ["subheading", "heading"]
        },
        "comparison-gallery-item-1": {
          "type": "_comparison-gallery-item",
          "name": "t:names.product",
          "settings": {},
          "blocks": {
            "product_title": {
              "type": "_product-title",
              "name": "t:names.product_title",
              "settings": {
                "type_preset": "h3",
                "html_tag": "h3",
                "font": "var(--font-heading--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "icon_list": {
              "type": "icon-list",
              "name": "t:names.icon_list",
              "settings": {
                "row_gap": 12,
                "row_gap_mobile": 12,
                "item_icon_style": "circle",
                "item_vertical_alignment": "center",
                "device": "desktop",
                "padding-block-start": 20,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 16,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "list_item_1": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_2": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_3": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": ["list_item_1", "list_item_2", "list_item_3"]
            },
            "button": {
              "type": "button",
              "name": "t:names.button",
              "settings": {
                "label": "Shop Now",
                "link": "{{ closest.product.url }}",
                "style": "primary",
                "size": "large",
                "icon": "caret-right",
                "icon_only": false,
                "icon_style": "solid",
                "mobile_full_width": false,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "image-comparison": {
              "type": "image-comparison",
              "static": true,
              "settings": {
                "direction": "horizontal",
                "image_ratio": "adapt",
                "image_ratio_mobile": "adapt",
                "color_scheme": "",
                "border_radius": 20
              },
              "blocks": {
                "image-comparison-before": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "Before",
                    "color_scheme": ""
                  },
                  "blocks": {}
                },
                "image-comparison-after": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "After",
                    "color_scheme": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": []
            }
          },
          "block_order": ["product_title", "icon_list", "button"]
        },
        "comparison-gallery-item-2": {
          "type": "_comparison-gallery-item",
          "name": "t:names.product",
          "settings": {},
          "blocks": {
            "product_title": {
              "type": "_product-title",
              "name": "t:names.product_title",
              "settings": {
                "type_preset": "h3",
                "html_tag": "h3",
                "font": "var(--font-heading--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "icon_list": {
              "type": "icon-list",
              "name": "t:names.icon_list",
              "settings": {
                "row_gap": 12,
                "row_gap_mobile": 12,
                "item_icon_style": "circle",
                "item_vertical_alignment": "center",
                "device": "desktop",
                "padding-block-start": 20,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 16,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "list_item_1": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_2": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_3": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": ["list_item_1", "list_item_2", "list_item_3"]
            },
            "button": {
              "type": "button",
              "name": "t:names.button",
              "settings": {
                "label": "Shop Now",
                "link": "{{ closest.product.url }}",
                "style": "primary",
                "size": "large",
                "icon": "caret-right",
                "icon_only": false,
                "icon_style": "solid",
                "mobile_full_width": false,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "image-comparison": {
              "type": "image-comparison",
              "static": true,
              "settings": {
                "direction": "horizontal",
                "image_ratio": "adapt",
                "image_ratio_mobile": "adapt",
                "color_scheme": "",
                "border_radius": 20
              },
              "blocks": {
                "image-comparison-before": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "Before",
                    "color_scheme": ""
                  },
                  "blocks": {}
                },
                "image-comparison-after": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "After",
                    "color_scheme": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": []
            }
          },
          "block_order": ["product_title", "icon_list", "button"]
        },
        "comparison-gallery-item-3": {
          "type": "_comparison-gallery-item",
          "name": "t:names.product",
          "settings": {},
          "blocks": {
            "product_title": {
              "type": "_product-title",
              "name": "t:names.product_title",
              "settings": {
                "type_preset": "h3",
                "html_tag": "h3",
                "font": "var(--font-heading--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "icon_list": {
              "type": "icon-list",
              "name": "t:names.icon_list",
              "settings": {
                "row_gap": 12,
                "row_gap_mobile": 12,
                "item_icon_style": "circle",
                "item_vertical_alignment": "center",
                "device": "desktop",
                "padding-block-start": 20,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 16,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "list_item_1": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_2": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_3": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": ["list_item_1", "list_item_2", "list_item_3"]
            },
            "button": {
              "type": "button",
              "name": "t:names.button",
              "settings": {
                "label": "Shop Now",
                "link": "{{ closest.product.url }}",
                "style": "primary",
                "size": "large",
                "icon": "caret-right",
                "icon_only": false,
                "icon_style": "solid",
                "mobile_full_width": false,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "image-comparison": {
              "type": "image-comparison",
              "static": true,
              "settings": {
                "direction": "horizontal",
                "image_ratio": "adapt",
                "image_ratio_mobile": "adapt",
                "color_scheme": "",
                "border_radius": 20
              },
              "blocks": {
                "image-comparison-before": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "Before",
                    "color_scheme": ""
                  },
                  "blocks": {}
                },
                "image-comparison-after": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "After",
                    "color_scheme": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": []
            }
          },
          "block_order": ["product_title", "icon_list", "button"]
        },
        "comparison-gallery-item-4": {
          "type": "_comparison-gallery-item",
          "name": "t:names.product",
          "settings": {},
          "blocks": {
            "product_title": {
              "type": "_product-title",
              "name": "t:names.product_title",
              "settings": {
                "type_preset": "h3",
                "html_tag": "h3",
                "font": "var(--font-heading--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            },
            "icon_list": {
              "type": "icon-list",
              "name": "t:names.icon_list",
              "settings": {
                "row_gap": 12,
                "row_gap_mobile": 12,
                "item_icon_style": "circle",
                "item_vertical_alignment": "center",
                "device": "desktop",
                "padding-block-start": 20,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 16,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "list_item_1": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_2": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                },
                "list_item_3": {
                  "type": "_list-item",
                  "name": "t:names.list_item",
                  "settings": {
                    "icon": "check",
                    "icon_size": "small",
                    "icon_width": 24,
                    "icon_width_mobile": 24,
                    "text": "Talk about your product",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": ["list_item_1", "list_item_2", "list_item_3"]
            },
            "button": {
              "type": "button",
              "name": "t:names.button",
              "settings": {
                "label": "Shop Now",
                "link": "{{ closest.product.url }}",
                "style": "primary",
                "size": "large",
                "icon": "caret-right",
                "icon_only": false,
                "icon_style": "solid",
                "mobile_full_width": false,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "image-comparison": {
              "type": "image-comparison",
              "static": true,
              "settings": {
                "direction": "horizontal",
                "image_ratio": "adapt",
                "image_ratio_mobile": "adapt",
                "color_scheme": "",
                "border_radius": 20
              },
              "blocks": {
                "image-comparison-before": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "Before",
                    "color_scheme": ""
                  },
                  "blocks": {}
                },
                "image-comparison-after": {
                  "type": "_image-comparison-image",
                  "static": true,
                  "settings": {
                    "heading": "After",
                    "color_scheme": ""
                  },
                  "blocks": {}
                }
              },
              "block_order": []
            }
          },
          "block_order": ["product_title", "icon_list", "button"]
        }
      },
      "block_order": ["comparison-gallery-item-1", "comparison-gallery-item-2", "comparison-gallery-item-3", "comparison-gallery-item-4"]
    }
  ]
}
{% endschema %}
