{% liquid
  assign use_padding_inline = true
  if section.settings.container == 'fixed'
    assign use_padding_inline = false
  endif
%}
{%- capture section_style -%}
  {% render 'border-style', settings: section.settings %}
  {% render 'spacing-style', settings: section.settings, use_padding_inline: use_padding_inline %}
{%- endcapture -%}

<div class="password-header spacing-style border-style color-{{ section.settings.color_scheme }}"
style="{{ section_style | strip_newlines | strip }}"
>
  <div class="section__container section-grid section-grid--{{ section.settings.container }}">
    <div class="section__wrapper flex flex-col sm:flex-row justify-between items-center gap-2">
      {% content_for 'block', type: '_logo', id: 'password-logo' %}
      <div class="password-modal">
        <div class="password-modal__toggle flex flex-row items-center gap-2">
          {% render 'icon', icon: 'padlock', size: 'extra-large' %}
          <button
            class="button-unstyled link link--underline password-enter__button"
            on:click="#password-form/showDialog"
            aria-haspopup="dialog"
            aria-controls="password-form-dialog"
          >
            {{ 'actions.enter_using_password' | t }}
          </button>
        </div>
        <ul hidden>
          <li id="a11y-new-window-message">{{ 'accessibility.new_window' | t }}</li>
        </ul>
  
        {%- form 'storefront_password' -%}
          {%- liquid
            if form.errors
              assign has_errors = 'data-has-errors="true"'
            else
              assign has_errors = ''
            endif
          -%}
          <password-dialog-component id="password-form" {{ has_errors }} focus-target=".field__input">
            <dialog
              id="password-form-dialog"
              ref="dialog"
              class="dialog dialog--modal{% unless settings.dialog_color_scheme_inherit %} color-{{ settings.dialog_color_scheme }}{% endunless %}"
            >
              <button
                type="button"
                class="dialog__close dialog__close--absolute"
                on:click="/closeDialog"
                aria-label="{{ 'accessibility.close_dialog' | t }}"
              >
                {% render 'icon', icon: 'close', size: 'large' %}
              </button>
              <div class="dialog__content h-full flex flex-col items-center justify-center gap-4">
                <h3 class="password-dialog__title">
                  {{ 'actions.enter_password' | t }}
                </h3>
  
                <div class="email-signup__input-group flex items-center justify-center gap-2">
                  <label
                    for="Password"
                    class="visually-hidden"
                  >
                    {{ 'actions.enter_password' | t }}
                  </label>
  
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class="field__input form-control flex-1"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'placeholders.password' | t }}"
                    autofocus
                  >
  
                  <button
                    class="btn btn--primary btn--icon-only btn--small"
                    type="submit"
                  >
                    <span class="btn__text visually-hidden">{{ 'actions.submit' | t }}</span>
                    {% render 'icon', icon: 'caret-right' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <div
                    id="PasswordLoginForm-password-error"
                    class="email-signup__message email-signup__message--error flex gap-2 items-center alert alert--error"
                    tabindex="-1"
                  >
                    {% render 'icon', icon: 'warning' %}
                    {{ 'content.wrong_password' | t }}
                  </div>
                {%- endif -%}
                <p class="password-enter__admin-link">
                  {{ 'content.store_owner_link_html' | t: link: '/admin' }}
                </p>
              </div>
            </dialog>
          </password-dialog-component>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password header",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "t:settings.container",
      "options": [
        { "value": "full", "label": "t:options.full" },
        { "value": "fixed", "label": "t:options.fixed" }
      ],
      "default": "fixed"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'full' }}"
    }
  ],
}
{% endschema %}
