<script
  src="{{ 'product-recommendations.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

{% liquid
  assign limit = section.settings.product_count
  assign recommendations_type = section.settings.recommendations_type
  assign layout_type = section.settings.layout_type
  assign enable_swipe_on_mobile = section.settings.enable_swipe_on_mobile
  assign swipe_custom_width_column = section.settings.swipe_custom_width_column
  assign column_gap = section.settings.column_gap
  assign columns_xxl = section.settings.columns_xxl
  assign columns_xl = columns_xxl | at_most: 4
  assign columns_lg = columns_xxl | at_most: 3
  assign columns_md = columns_xxl | at_most: 3
  assign columns_mobile = section.settings.columns_mobile | plus: 0

  if section.settings.custom_columns != blank
    assign custom_columns_array = section.settings.custom_columns | split: ','
    for custom_column in custom_columns_array
      assign pair = custom_column | strip
      if pair == ''
        continue
      endif

      assign custom_column_key = pair | split: ':' | first | strip
      assign value_str = pair | split: ':' | last | strip
      if value_str == ''
        continue
      endif
      assign custom_column_value = value_str | plus: 0

      case custom_column_key
        when 'mb'
          assign columns_mobile = custom_column_value
        when 'md'
          assign columns_md = custom_column_value
        when 'lg'
          assign columns_lg = custom_column_value
        when 'xl'
          assign columns_xl = custom_column_value
        when 'xxl'
          assign columns_xxl = custom_column_value
      endcase
    endfor
  endif

  assign swipe_mobile_classes = ''
  assign swipe_mobile_inner_classes = ''

  if enable_swipe_on_mobile
    assign swipe_mobile_classes = 'swipe-mobile swipe-mobile--[columns]-cols' | replace: '[columns]', columns_mobile
    assign swipe_mobile_inner_classes = 'swipe__inner'

    if swipe_custom_width_column
      assign swipe_mobile_classes = swipe_mobile_classes | append: ' swipe-mobile--custom-width'
    endif
  endif

  assign use_padding_inline = true
  if section.settings.container == 'fixed'
    assign use_padding_inline = false
  endif
%}

{%- capture section_style -%}
  {% render 'border-style', settings: section.settings %}
  {% render 'spacing-style', settings: section.settings, use_padding_inline: use_padding_inline %}
  {% if swipe_custom_width_column %}
    --swipe-column-width: {{ section.settings.swipe_column_width | divided_by: 100.0 }};
  {% endif %}
{%- endcapture -%}

{%- capture container_style -%}
  {% render 'layout-panel-style', settings: section.settings, type: 'grid', columns_mobile: columns_mobile, columns_md: columns_md, columns_lg: columns_lg, columns_xl: columns_xl, columns_xxl: columns_xxl %}
  {% render 'gap-style', settings: section.settings %}
  --card-placeholder-radius: {{ settings.pcard_media_radius | divided_by: 10 }}rem;
{%- endcapture -%}

<div
  id="section-{{ section.id }}"
  class="section product-recommendations product-recommendations--{{ layout_type }} spacing-style border-style color-{{ section.settings.color_scheme }}"
  style="{{ section_style | strip_newlines | strip }}"
>
  <product-recommendations
    id="product-recommendations-{{ section.id }}"
    data-url="{{ routes.product_recommendations_url }}?limit={{ limit }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
    data-intent="{{ recommendations_type }}"
    data-recommendations-performed="{{ recommendations.performed }}"
    class="section__container section-grid section-grid--{{ section.settings.container }}"
    style="{{ container_style | strip_newlines | strip }}"
  >
    {% liquid
      assign products = null
      assign has_recommendations = false
      if recommendations.performed and recommendations.products_count == 0
        if recommendations_type == 'related'
          assign products = collections.all.products | reject: 'id', product.id
          assign has_recommendations = true
        elsif recommendations_type == 'complementary'
          # Do not recommend the All collection as complementary products
          assign products = null
        endif
      else
        assign products = recommendations.products
        assign has_recommendations = true
      endif
    %}
    {% content_for 'blocks' %}
    {% if recommendations.performed %}
      {% capture list_items %}
          {% for product in products limit: limit %}
            <div class="product-recommendations__item{% if layout_type == 'carousel' %} swiper-slide{% endif %}">
              {% # theme-check-disable %}
                {% content_for 'block', type: '_product-card', id: 'product-card', product: product %}
              {% # theme-check-enable %}
            </div>
          {% endfor %}
      {% endcapture %}
    {% else %}
      {% capture list_items %}
        {% for i in (1..limit) %}
          <div class="product-recommendations__item{% if layout_type == 'carousel' %} swiper-slide{% endif %}">
            <div class="product-recommendations__item-placeholder"></div>
          </div>
        {% endfor %}
      {% endcapture %}
    {% endif %}
    {% if layout_type == 'carousel' %}
      <carousel-slider
        data-has-recommendations="{{ has_recommendations }}"
        class="product-recommendations__wrapper block carousel carousel--visible carousel--grid"
      >
        <script type="application/json" ref="config">
          {
            "slidesPerView": {{ columns_md }},
            "spaceBetween": {{ column_gap }},
            "loop": false,
            "autoplay": false,
            "counter": false,
            "loopAddBlankSlides": false,
            "pagination": { "type": "progressbar" },
            "mousewheel": {
              "enabled": true,
              "forceToAxis": true,
              "thresholdTime": 300,
              "thresholdDelta": 10
            },
            "destroyBelow": 768,
            "breakpoints": {
              "1024": {
                "slidesPerView": {{ columns_lg }}
              },
              "1200": {
                "slidesPerView": {{ columns_xl }}
              },
              "1440": {
                "slidesPerView": {{ columns_xxl }}
              }
            }
          }
        </script>
        <div
          class="swiper {{ swipe_mobile_classes }}"
          ref="container"
          style="--f-columns-xxl: {{ columns_xxl }};--f-columns-mobile: {{ columns_mobile }};"
        >
          <div
            class="swiper-wrapper layout-panel-grid-mobile gap-style {{ swipe_mobile_inner_classes }}"
          >
            {{ list_items }}
          </div>
        </div>
        {% render 'carousel-controls', ref: 'controls', type: 'relative', class: 'hidden md:flex' %}
      </carousel-slider>
    {% else %}
      <div
        data-has-recommendations="{{ has_recommendations }}"
        class="product-recommendations__wrapper {{ swipe_mobile_classes }}"
      >
        <div class="product-recommendations__inner layout-panel-grid gap-style {{ swipe_mobile_inner_classes }}">
          {{ list_items }}
        </div>
      </div>
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:names.product_recommendations",
  "enabled_on": {
    "templates": ["product"]
  },
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "recommendations_type",
      "label": "t:settings.type",
      "options": [
        { "value": "related", "label": "t:options.related" },
        { "value": "complementary", "label": "t:options.complementary" }
      ],
      "default": "related"
    },
    {
      "type": "paragraph",
      "content": "t:content.complementary_products"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:settings.container",
      "options": [
        { "value": "full", "label": "t:options.full" },
        { "value": "fixed", "label": "t:options.fixed" }
      ],
      "default": "fixed"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns_xxl",
      "label": "t:settings.desktop_columns",
      "default": 4,
      "min": 2,
      "max": 6,
      "step": 1
    },
    {
      "type": "range",
      "id": "product_count",
      "label": "t:settings.product_count",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "row_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:content.mobile_layout"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe_on_mobile",
      "label": "t:settings.enable_swipe_on_mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "swipe_custom_width_column",
      "label": "t:settings.swipe_custom_width_column",
      "default": false,
      "visible_if": "{{ section.settings.enable_swipe_on_mobile == true }}"
    },
    {
      "type": "range",
      "id": "swipe_column_width",
      "label": "t:settings.custom_width",
      "min": 20,
      "max": 90,
      "step": 1,
      "unit": "%",
      "default": 76,
      "visible_if": "{{ section.settings.swipe_custom_width_column == true and section.settings.enable_swipe_on_mobile == true }}"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "t:settings.columns",
      "options": [
        {
          "value": "1",
          "label": "t:options.grid_1_column"
        },
        {
          "value": "2",
          "label": "t:options.grid_2_column"
        }
      ],
      "default": "2",
      "visible_if": "{{ section.settings.swipe_custom_width_column == false or section.settings.enable_swipe_on_mobile == false }}"
    },
    {
      "type": "range",
      "id": "column_gap_mobile",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "row_gap_mobile",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.enable_swipe_on_mobile == false and section.settings.layout_type == 'carousel' or section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'full' }}"
    },
    {
      "type": "header",
      "content": "t:content.advanced"
    },
    {
      "type": "text",
      "id": "custom_columns",
      "label": "t:settings.custom_columns",
      "info": "t:info.custom_columns"
    }
  ],
  "presets": [
    {
      "name": "t:names.product_recommendations",
      "category": "t:categories.products",
      "blocks": {
        "heading": {
          "type": "text",
          "name": "t:names.header",
          "settings": {
            "text": "<p>You May Also Like</p>",
            "type_preset": "h2",
            "font": "var(--font-body--family)",
            "font_size": 15,
            "font_size_mobile": 15,
            "line_height": "normal",
            "text_color": "text",
            "width": "100%",
            "padding-block-start": 0,
            "padding-block-end": 40,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "mobile-padding-scale": 60,
            "animation_type": "none",
            "animation_delay": 250
          }
        }
      },
      "block_order": ["heading"]
    }
  ]
}
{% endschema %}
