{% liquid
  assign heading = section.settings.heading
  assign limit = section.settings.product_count
  assign type = section.settings.type
  assign enable_swipe_on_mobile = section.settings.enable_swipe_on_mobile
  assign swipe_custom_width_column = section.settings.swipe_custom_width_column
  assign column_gap = section.settings.column_gap
  assign columns_xxl = section.settings.columns_xxl
  assign columns_xl = columns_xxl | at_most: 4
  assign columns_lg = columns_xxl | at_most: 3
  assign columns_md = columns_xxl | at_most: 3
  assign columns_mobile = section.settings.columns_mobile | plus: 0

  if section.settings.custom_columns != blank
    assign custom_columns_array = section.settings.custom_columns | split: ','
    for custom_column in custom_columns_array
      assign pair = custom_column | strip
      if pair == ''
        continue
      endif

      assign custom_column_key = pair | split: ':' | first | strip
      assign value_str = pair | split: ':' | last | strip
      if value_str == ''
        continue
      endif
      assign custom_column_value = value_str | plus: 0

      case custom_column_key
        when 'mb'
          assign columns_mobile = custom_column_value
        when 'md'
          assign columns_md = custom_column_value
        when 'lg'
          assign columns_lg = custom_column_value
        when 'xl'
          assign columns_xl = custom_column_value
        when 'xxl'
          assign columns_xxl = custom_column_value
      endcase
    endfor
  endif

  assign swipe_mobile_classes = ''
  assign swipe_mobile_inner_classes = ''

  if enable_swipe_on_mobile
    assign swipe_mobile_classes = 'swipe-mobile swipe-mobile--[columns]-cols' | replace: '[columns]', columns_mobile
    assign swipe_mobile_inner_classes = 'swipe__inner'

    if swipe_custom_width_column
      assign swipe_mobile_classes = swipe_mobile_classes | append: ' swipe-mobile--custom-width'
    endif
  endif

  assign use_padding_inline = true
  if section.settings.container == 'fixed'
    assign use_padding_inline = false
  endif

  assign tabs_html = ''
  assign panels_html = ''
%}
{% capture section_style %}
  {% render 'spacing-style', settings: section.settings, use_padding_inline: use_padding_inline %}
  {% render 'border-style', settings: section.settings %}
  {% if swipe_custom_width_column %}
    --swipe-column-width: {{ section.settings.swipe_column_width | divided_by: 100.0 }};
  {% endif %}
{% endcapture %}

{% capture container_style %}
  {% render 'layout-panel-style', settings: section.settings, type: 'grid', columns_mobile: columns_mobile, columns_md: columns_md, columns_lg: columns_lg, columns_xl: columns_xl, columns_xxl: columns_xxl %}
  {% render 'gap-style', settings: section.settings %}
{% endcapture %}

{%- capture media_sizes -%}
  {%- capture container_size -%}min(100vw, {{ settings.page_width | plus: 32 }}px){%- endcapture -%}
  (min-width: 1440px) calc(({{ container_size }} - 32px) / {{ columns_xxl }}), (min-width: 1200px) calc(({{ container_size }} - 32px) / {{ columns_xl }}), (min-width: 1024px) calc(({{ container_size }} - 32px) / {{ columns_lg }}), (min-width: 768px) calc(({{ container_size }} - 32px) / {{ columns_md }}), calc((100vw - 32px) / {{ columns_mobile }})
{%- endcapture -%}

{%- for block in section.blocks -%}
  {%- liquid
    assign collection = block.settings.collection
    assign tab_title = 'Tab [index]' | replace: '[index]', forloop.index
    if block.settings.collection != blank
      assign tab_title = collection.title
    endif
    if block.settings.title != blank
      assign tab_title = block.settings.title
    endif
  -%}
  {%- capture panel_id -%}{{ section.id }}-panel-{{ forloop.index0 }}{%- endcapture -%}
  {%- capture tab_html -%}
    <a
      href="#{{ panel_id }}"
      aria-controls="{{ panel_id }}"
      ref="tab[]"
      on:click="/onTabClick"
      on:keydown="/onKeydown"
      role="tab"
      data-index="{{ forloop.index0 }}"
      class="tabs__button inline-flex items-center justify-center relative rounded"
    >
      <span class="tabs__button-text relative text-ellipsis">{{ tab_title }}</span>
    </a>
  {%- endcapture -%}

  {%- capture list_items -%}
    {% if collection != blank and shop.products_count != 0 %}
      {% paginate collection.products by limit %}
        {% for product in collection.products limit: limit %}
          <div class="f-column{% if type == 'carousel' %} swiper-slide{% endif %}">
            {%- render 'product-card', product: product, media_sizes: media_sizes -%}
          </div>
        {% endfor %}
      {% endpaginate %}
    {% else %}
      {% for i in (1..limit) %}
        <div class="f-column{% if type == 'carousel' %} swiper-slide{% endif %}">
          {%- render 'product-card', product: null -%}
        </div>
      {% endfor %}
    {% endif %}
  {%- endcapture -%}

  {%- capture panel_html -%}
    <div
      id="{{ panel_id }}"
      ref="panel[]"
      class="tabs__panel"
      data-index="{{ forloop.index0 }}"
      {{ block.shopify_attributes }}
      {% unless forloop.first %}
        hidden
        data-lazy-loading="true"
      {% endunless %}
    >
      <noscript>
        <h3 class="tabs__panel-heading h3">{{ tab_title }}</h3>
      </noscript>
      {%- capture tab_panel_content -%}
        {% if type == 'carousel' %}
          <carousel-slider class="featured-collection featured-collection--carousel carousel carousel--visible carousel--grid block">
            <script type="application/json" ref="config">
              {
                "slidesPerView": {{ columns_xxl }},
                "spaceBetween": {{ column_gap }},
                "loop": false,
                "autoplay": false,
                "counter": false,
                "loopAddBlankSlides": false,
                "pagination": { "type": "progressbar" },
                "mousewheel": {
                  "enabled": true,
                  "forceToAxis": true,
                  "thresholdTime": 300,
                  "thresholdDelta": 10
                },
                "destroyBelow": 768,
                "breakpoints": {
                  "768": {
                    "slidesPerView": {{ columns_md }}
                  },
                  "1024": {
                    "slidesPerView": {{ columns_lg }}
                  },
                  "1200": {
                    "slidesPerView": {{ columns_xl }}
                  },
                  "1440": {
                    "slidesPerView": {{ columns_xxl }}
                  }
                }
              }
            </script>
            <div
              class="swiper {{ swipe_mobile_classes }}"
              ref="container"
              style="--f-columns-xxl: {{ columns_xxl }};--f-columns-mobile: {{ columns_mobile }}; --f-columns-lg: {{ columns_lg }}; --f-columns-xl: {{ columns_xl }}; --f-columns-md: {{ columns_md }};{% if swipe_custom_width_column %} --swipe-column-width: {{ section.settings.swipe_column_width | divided_by: 100.0 }};{% endif %}"
            >
              <div class="swiper-wrapper layout-panel-grid-mobile gap-style {{ swipe_mobile_inner_classes }}">
                {{- list_items -}}
              </div>
            </div>
            {% render 'carousel-controls',
              ref: 'controls',
              type: 'relative',
              counter: false,
              class: 'hidden md:flex'
            %}
          </carousel-slider>
        {% else %}
          <div class="featured-collection featured-collection--grid {{ swipe_mobile_classes }}">
            <div class="featured-collection__inner layout-panel-grid gap-style {{ swipe_mobile_inner_classes }}">
              {{- list_items -}}
            </div>
          </div>
        {% endif %}
      {%- endcapture -%}

      {%- unless forloop.first -%}
        <template>{{ tab_panel_content }}</template>
        <noscript>{{ tab_panel_content }}</noscript>
      {%- else -%}
        {{ tab_panel_content }}
      {%- endunless -%}
    </div>
  {%- endcapture -%}

  {%- liquid
    assign tabs_html = tabs_html | append: tab_html
    assign panels_html = panels_html | append: panel_html
  -%}
{%- endfor -%}
<div
  id="section-{{ section.id }}"
  class="section section--featured-collection spacing-style border-style color-{{ section.settings.color_scheme }}"
  style="{{ section_style | strip_newlines | strip }}"
>
  <div
    class="section__container section-grid section-grid--{{ section.settings.container }}"
    style="{{ container_style | strip_newlines | strip }}"
  >
    <tabs-component data-section-id="{{ section.id }}" class="section__wrapper block tabs">
      <div class="section__header flex flex-wrap flex-col md:flex-row items-start md:items-center justify-start md:justify-between gap-4">
        {% if heading != blank %}
          {% render 'text',
            fallback_text: heading,
            preset: section.settings.heading_preset,
            font_family: 'var(--font-heading--family)',
            font_size: section.settings.heading_font_size,
            font_size_mobile: section.settings.heading_font_size_mobile,
            line_height: 'tight',
            highlight_style: section.settings.highlight_style,
            highlight_font_style: section.settings.highlight_font_style,
            highlight_shape_color: section.settings.highlight_shape_color,
            highlight_text_color: section.settings.highlight_text_color,
            animation_type: section.settings.animation_type,
            animation_delay: section.settings.animation_delay
          %}
        {% endif %}
        <div is="swipe-component" class="tabs__header edge__shadows max-w-full">
          <div
            class="tabs__header-inner swipe__element swipe-mobile swipe-mobile--auto-cols"
            ref="tabNav"
          >
            <div
              class="swipe__inner flex flex-wrap md:justify-end gap-2"
              role="tablist"
            >
              {{ tabs_html }}
            </div>
          </div>
        </div>
      </div>
      <div class="tabs__panels">
        {{ panels_html }}
      </div>
    </tabs-component>
  </div>
</div>
{% schema %}
{
  "name": "t:names.product_tab",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "t:settings.container",
      "options": [
        { "value": "full", "label": "t:options.full" },
        { "value": "fixed", "label": "t:options.fixed" }
      ],
      "default": "fixed"
    },
    {
      "type": "header",
      "content": "t:content.section_header"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:settings.heading",
      "default": "<p>Product tabs</p>",
      "info": "t:info.highlight_style"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:settings.highlight_style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "standard",
          "label": "t:options.standard"
        },
        {
          "value": "wavy-underline",
          "label": "t:options.wavy_underline"
        },
        {
          "value": "solid-background",
          "label": "t:options.solid_background"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:settings.highlight_font_style",
      "options": [
        {
          "value": "italic",
          "label": "t:options.italic"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        }
      ],
      "default": "italic",
      "visible_if": "{{ section.settings.highlight_style != 'none' }}"
    },
    {
      "type": "color",
      "id": "highlight_shape_color",
      "label": "t:settings.highlight_shape_color",
      "visible_if": "{{ section.settings.highlight_style != 'none' and section.settings.highlight_style != 'standard' }}"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:settings.highlight_text_color",
      "visible_if": "{{ section.settings.highlight_style != 'none' }}"
    },
    {
      "type": "select",
      "id": "heading_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "h1"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "t:settings.font_size",
      "default": 15,
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.heading_preset == 'custom' }}"
    },
    {
      "type": "range",
      "id": "heading_font_size_mobile",
      "label": "t:settings.font_size_mobile",
      "default": 15,
      "min": 12,
      "max": 60,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.heading_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "animation_type",
      "label": "t:settings.animation_type",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "fade-in",
          "label": "t:options.fade_in"
        },
        {
          "value": "fade-up",
          "label": "t:options.fade_up"
        },
        {
          "value": "slide-in-left",
          "label": "t:options.slide_in_left"
        },
        {
          "value": "slide-in-right",
          "label": "t:options.slide_in_right"
        }
      ],
      "default": "fade-up",
      "visible_if": "{{ settings.animations_enabled == true }}"
    },
    {
      "type": "range",
      "id": "animation_delay",
      "label": "t:settings.animation_delay",
      "min": 0,
      "max": 2000,
      "step": 50,
      "default": 250,
      "visible_if": "{{ section.settings.animation_type != 'none' and settings.animations_enabled == true }}",
      "unit": "ms"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "range",
      "id": "product_count",
      "label": "t:settings.product_count",
      "min": 1,
      "max": 16,
      "step": 1,
      "default": 8
    },
    {
      "type": "select",
      "id": "type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns_xxl",
      "label": "t:settings.desktop_columns",
      "default": 4,
      "min": 2,
      "max": 6,
      "step": 1
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:settings.column_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "row_gap",
      "label": "t:settings.row_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:content.mobile_layout"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe_on_mobile",
      "label": "t:settings.enable_swipe_on_mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "swipe_custom_width_column",
      "label": "t:settings.swipe_custom_width_column",
      "default": false,
      "visible_if": "{{ section.settings.enable_swipe_on_mobile == true }}"
    },
    {
      "type": "range",
      "id": "swipe_column_width",
      "label": "t:settings.custom_width",
      "min": 20,
      "max": 90,
      "step": 1,
      "unit": "%",
      "default": 76,
      "visible_if": "{{ section.settings.swipe_custom_width_column == true and section.settings.enable_swipe_on_mobile == true }}"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "t:options.grid_1_column"
        },
        {
          "value": "2",
          "label": "t:options.grid_2_column"
        }
      ],
      "default": "2",
      "visible_if": "{{ section.settings.swipe_custom_width_column == false or section.settings.enable_swipe_on_mobile == false }}"
    },
    {
      "type": "range",
      "id": "column_gap_mobile",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "row_gap_mobile",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.enable_swipe_on_mobile == false and section.settings.type == 'carousel' or section.settings.type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'full' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'full' }}"
    },
    {
      "type": "header",
      "content": "t:content.advanced"
    },
    {
      "type": "text",
      "id": "custom_columns",
      "label": "t:settings.custom_columns",
      "info": "t:info.custom_columns"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "limit": 6,
      "name": "t:names.collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:settings.collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.collection_title",
          "info": "t:info.collection_title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:names.product_tab_grid",
      "category": "t:categories.products",
      "settings": {
        "type": "grid",
        "product_count": 8,
        "columns_xxl": 4,
        "columns_mobile": "2",
        "column_gap": 30,
        "column_gap_mobile": 8,
        "row_gap": 30,
        "row_gap_mobile": 24,
        "padding-block-start": 50,
        "padding-block-end": 50
      },
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    },
    {
      "name": "t:names.product_tab_carousel",
      "category": "t:categories.products",
      "settings": {
        "type": "carousel",
        "product_count": 8,
        "columns_xxl": 4,
        "columns_mobile": "2",
        "column_gap": 10,
        "column_gap_mobile": 8,
        "row_gap": 10,
        "row_gap_mobile": 8,
        "enable_swipe_on_mobile": true,
        "padding-block-start": 50,
        "padding-block-end": 50
      },
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
